In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline 

data = pd.read_csv('data_learn.csv', header=0, na_values='?', delimiter=';')

data.shape

(300, 18)

In [2]:
data.head()

,ID,ФИО,Дата рождения,Семейное положение,Отдел,Должность,Рабочий стаж (лет),Наличие правонарушений/ судимостей,Наличие выговоров по трудовой дисциплине,Трудовые заслуги,Образование,Дополнительная квалификация,Исполнительность/ дисциплинированность,Коммуникабельность,Стрессоустойчивость,Лидерство,Порядочность/ честность,Энергичность
0,1,Иванов Иван Иванович,03.08.1969,"холост, есть дети",Отдел эксплуатации автоматизированных систем к...,Мастер участка службы подстанций,25,Нет,Выговор,Нет,высшее образование - бакалавриат,Нет,4.0,8.0,NaN,NaN,NaN,NaN
1,2,Петров Александр Федорович,04.05.1968,разведен,Западный участок,Начальник района электрических сетей,11,Нет,Нет,Улучшение показателей отдела (подразделения),"высшее образование - специалитет, магистратура",Нет,9.0,NaN,NaN,NaN,NaN,NaN
2,3,Васильев Александр Николаевич,24.05.1968,"холост, есть дети",Отдел эксплуатации ИТ (ОЭ ИТ),Технический IT-специалист,5,Нет,Дисциплинарный проступок,Нет,высшее образование - бакалавриат,Нет,2.0,NaN,NaN,NaN,NaN,NaN
3,4,Осипов Марк Михайлович,14.10.1988,"разведен, есть дети",Отдел эксплуатации телекоммуникаций (ОЭ ТК),Инженер 1 категории управления технологическог...,10,Нет,Нет,Нет,высшее образование - бакалавриат,Повышение квалификации,10.0,NaN,NaN,NaN,NaN,NaN
4,5,Устинов Ипполит Антонинович,03.03.1970,холост,Восточный участок,Специалист Центра обслуживания потребителей,5,Нет,Нет,Нет,высшее образование - бакалавриат,Нет,10.0,NaN,NaN,NaN,NaN,NaN

In [3]:
data.describe()

,ID,Рабочий стаж (лет),Исполнительность/ дисциплинированность,Коммуникабельность,Стрессоустойчивость,Лидерство,Порядочность/ честность,Энергичность
count,300.000000,300.000000,293.000000,1.0,0.0,0.0,0.0,0.0
mean,150.500000,11.343333,8.119454,8.0,NaN,NaN,NaN,NaN
std,86.746758,6.911683,1.758365,NaN,NaN,NaN,NaN,NaN
min,1.000000,1.000000,2.000000,8.0,NaN,NaN,NaN,NaN
25%,75.750000,5.000000,7.000000,8.0,NaN,NaN,NaN,NaN
50%,150.500000,11.000000,8.000000,8.0,NaN,NaN,NaN,NaN
75%,225.250000,17.000000,9.000000,8.0,NaN,NaN,NaN,NaN
max,300.000000,25.000000,10.000000,8.0,NaN,NaN,NaN,NaN

In [4]:
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']
numerical_columns   = [c for c in data.columns if data[c].dtype.name != 'object']
print(categorical_columns)
print(numerical_columns)

['ФИО', 'Дата рождения', 'Семейное положение', 'Отдел', 'Должность', 'Наличие правонарушений/ судимостей', 'Наличие выговоров по трудовой дисциплине', 'Трудовые заслуги', 'Образование', 'Дополнительная квалификация']
['ID', 'Рабочий стаж (лет)', 'Исполнительность/ дисциплинированность', 'Коммуникабельность', 'Стрессоустойчивость', 'Лидерство', 'Порядочность/ честность', 'Энергичность']

In [5]:
data[categorical_columns].describe()

,ФИО,Дата рождения,Семейное положение,Отдел,Должность,Наличие правонарушений/ судимостей,Наличие выговоров по трудовой дисциплине,Трудовые заслуги,Образование,Дополнительная квалификация
count,300,300,300,300,300,300,300,300,300,300
unique,300,297,12,11,29,3,3,4,3,4
top,Вишняков Павел Наумович,15.01.1964,холост,Управление корпоративных и технологических авт...,Инженер отдела эксплуатации и развития систем ...,Нет,Нет,Нет,среднее профессиональное образование,Нет
freq,1,2,47,44,31,288,281,272,133,260

##

In [8]:
data[numerical_columns].describe()

,ID,Рабочий стаж (лет),Исполнительность/ дисциплинированность,Коммуникабельность,Стрессоустойчивость,Лидерство,Порядочность/ честность,Энергичность
count,300.000000,300.000000,293.000000,1.0,0.0,0.0,0.0,0.0
mean,150.500000,11.343333,8.119454,8.0,NaN,NaN,NaN,NaN
std,86.746758,6.911683,1.758365,NaN,NaN,NaN,NaN,NaN
min,1.000000,1.000000,2.000000,8.0,NaN,NaN,NaN,NaN
25%,75.750000,5.000000,7.000000,8.0,NaN,NaN,NaN,NaN
50%,150.500000,11.000000,8.000000,8.0,NaN,NaN,NaN,NaN
75%,225.250000,17.000000,9.000000,8.0,NaN,NaN,NaN,NaN
max,300.000000,25.000000,10.000000,8.0,NaN,NaN,NaN,NaN